@model araniyor.Models.Users

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Admin", FormMethod.Post))
{
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Giriş Yap</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-Posta Adresi</label>
                    @Html.TextBoxFor(a => a.username, new { placeholder = "Kullanıcı Adı", @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.username)
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Parola</label>
                    @Html.PasswordFor(a => a.password, new { placeholder = "Parola", @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.password)
                </div>
                <div class="form-group">
                    <div class="form-check">
                    </div>
                </div>

                <input type="submit" id="submitbtn" value="Giriş Yap" class="btn btn-primary" style="width:100%" />
            </form>
            <div class="text-center">
                <a class="d-block small" href="~/Admin/ForgetPassword">Şifremi Unuttum</a>
            </div>
        </div>
    </div>
}

