@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="container mt-5 mb-5">
    <div class="row">
        <h2>Hakkımızda</h2>
        @ViewBag.Hakkimizda
    </div>
</div>

