
@{
    ViewBag.Title = "Vizyon";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="row">
        <h2>Vizyonumuz</h2>
        @ViewBag.Vizyon
    </div>
</div>


