@model araniyor.Models.AboutUs

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="~/Content/SBAdmin/css/sticky-footer-navbar.css" rel="stylesheet" />
    <link href="~/Content/SBAdmin/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>- Araniyor.ml -</title>

    <style>
        a {
            color: white;
            font-size: 18px;
        }

            a:hover {
                color: #17a2b8;
            }

        footer {
            background-color: rgba(44, 62, 80, 1.0);
            width: 100%;
            bottom: 0;
            font-weight: lighter;
            color: white;
        }

        .footerHeader {
            width: 100%;
            padding: 1em;
            background-color: rgba(52, 73, 94,1.0);
            text-align: center;
            color: white;
        }

        footer h3 {
            font-weight: lighter;
        }

        footer ul {
            padding-left: 5px;
            list-style: none;
        }

        footer p {
            text-align: justify;
            font-size: 12px;
        }

        footer iframe {
            width: 100%;
            position: relative;
            height: 170px;
        }

        .sm {
            list-style: none;
            overflow: auto;
        }

            .sm li {
                display: inline;
                padding: 5px;
                float: left;
            }

                .sm li a img {
                    width: 32px;
                }
    </style>


</head>
<body>
    <div>
        <!-- Nav Bar Start rgba(52, 73, 94,1.0)-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-ligth" style="background-color:rgba(52, 73, 94,1.0); opacity:0.85">
            <div class="container">
                <a class="navbar-brand" href="~/Home/Index">
                    <img src="~/images/search-people-white.png" width="50px" class="img-fluid rounded" />
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars" style="color:white;"></i>
                    <span class="navbar-toggler-icon">
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Index">
                                <i class="fas fa-home"></i>
                                Anasayfa <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Kategoriler">
                                Kategoriler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Hakkimizda">
                                Hakkımızda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Misyon">
                                Misyonumuz
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Vizyon">
                                Vizyonumuz
                            </a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Aranacak Kategori" aria-label="Search">
                        <button class="btn btn-outline-info my-2 mr-sm-4" type="submit">Ara</button>
                        <button class="btn btn-outline-info my-2 mr-sm-2" type="submit">Üye Ol</button>
                        <button class="btn btn-outline-info my-2 mr-sm-2" type="submit">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- Nav Bar End -->

    @RenderBody()


    @*<!-- Footer Start -->
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
        <!-- Footer End -->*@

    <footer>
        <div class="footerHeader"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Hakkımızda</h3>
                    <p>
                        @Model.Hakkimizda.Substring(0, 574);...
                        <a href="~/Home/Hakkimizda" style="font-size:12px">Devamını Oku</a>
                    </p>
                </div>

                <div class="col-md-4">
                    <h3>Adresimiz</h3>
                    <iframe src=@Model.Adres width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <h3>İletişim</h3>
                    <ul>
                        <li>Telefon : @Model.Telefon</li>
                        <li>E-Posta : @Model.EPosta</li>
                    </ul>
                    <p>
                        @*Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s*@
                    </p>
                    <ul class="sm">

                        <li><a href=@Model.Twitter><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-fluid"></a></li>
                            <li><a href=@Model.Facebook><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-fluid"></a></li>
                        <li><a href=@Model.LinkedIn><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-fluid"></a></li>
                        @*<li><a href="#"><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-fluid"></a></li>
                        <li><a href="#"><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-fluid"></a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/Content/SBAdmin/js/holder.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>