
@{
    ViewBag.Title = "Vizyon";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    .container h2 {
        color: darkslategray;
    }
</style>

<div class="container mt-5 mb-5">
    <h2>Vizyonumuz</h2>
    <hr />
    @ViewBag.Vizyon
</div>


